<!DOCTYPE html>
<html>

<head>

{{ require(common/meta.html) }}

</head>

<body>

{{ require(common/authheader.html) }}

<div class="content">

<div class="main">

<div class="signin-container">
<div class="box hr-third hr-center signin">
<form id="login-form" action="/auth/login" method="post">
<div class="hr-full">
<span class="icon fa fa-user"></span>
<input autofocus class="hr-center" type="text" name="user" placeholder="User" />
</div>
<div class="hr-full">
<span class="icon fa fa-lock"></span>
<input class="hr-center" type="password" name="pass" placeholder="Password" />
</div>
<div data-type="submit" data-form-id="login-form" class="btn-req btn hr-center">Sing In</div>
</form>
</div>
</div>

</div>

</div>

{{ require(common/footer.html) }}

</body>

</html>
