html {
	margin: 0;
	padding: 0;
	font-family: 'sanfrantext', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	/* minus the height of footer */
	height: 96%;
}

body {
	margin: 0;
	padding: 0;
	/* minus the height of footer */
	height: 96%;
	/* controlled by js */
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

h1 {
	padding: 2px 6px;
	border-left: 6px solid rgb(51, 133, 255);
	border-bottom: 1px solid rgb(51, 133, 255);
}

h2 {
	padding: 2px 6px;
	border-left: 6px solid rgb(51, 133, 255);
	border-bottom: 1px solid #ddd;
}

table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 100%;
}

th {
	text-align: center;
	border: 1px solid #ddd;
	padding: 4px 10px;
	background: #fff;
}

td {
	border: 1px solid #ddd;
	padding: 4px 10px;
}

tr {
	background #fff;
	transition: all 0.3s ease-out;
}

tr:hover {
	background-color: #efefef;
}

/*************
* Anchor Tag *
*************/

a {
	text-decoration: none;
	color: rgb(51, 119, 255);
	transition: color 0.3s ease-out;
}

a:hover {
	color: rgb(0, 51, 153);
}

/***********************************************
* Horizontal Centering for Fixed Width Element *
***********************************************/

.hr-center {
	margin-left: auto !important;
	margin-right: auto !important;	
}

/**********
* Buttons *
**********/

.btn {
	/* disable text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	color: #fff;
	background: #03d568;
	border: 2px solid #03d568;
	cursor: pointer;
	margin: 1px;
	transition: all 0.3s ease-out;
}

.btn-small {
	/* disable text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	color: #fff;
	background: #03d568;
	border: 2px solid #03d568;
	cursor: pointer;
	margin: 1px;
	transition: all 0.3s ease-out;
}

.btn-cancel {
	background: #ff4e48 !important;
	border: 2px solid #ff4e48 !important;
}

.btn-disable {
	background: #ccc !important;
	border: 2px solid #ccc;
	color: #999 !important;
	pointer-events: none;
}

.btn:hover,
.btn-small:hover {
	transform: scale(0.98);
	background: #70d4a0;
}

.btn-cancel:hover {
	background: #fe6e69 !important;
}

/************
* Clickable *
************/

.clickable {
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.clickable:hover {
	opacity: 0.7;
	transform: rotate(360deg);
}

/********
* Icons *
********/

.icon {
	margin: 0 6px;	
}

/******
* Box *
******/

.box {
	border: 1px solid #ddd;
	border-top: 3px solid rgb(51, 133, 255); 
	border-radius: 4px 4px 0 0;
	padding: 6px;
	margin: 4px;
}


/*****************
* Blurred Filter *
*****************/

.white-glass {
	background: rgba(255, 255, 255, 0.4);
	filter: blur(5px);
}

/**************
* Page Header *
**************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 4%;
	line-height: 150%;
	font-size: 100%;
	padding: 0 10px;
	color: rgb(255, 255, 255);
	background: #333;
}

/************************
* Left Auto-Hiding Menu *
************************/

.left-menu {
	position: fixed;
	/* below .header element */
	top: 4%;
	left: -1000;
	width: 20%;
	/* minus the height of header and footer */
	height: 92%;
	background: rgb(240, 242, 244);
	color: rgb(43, 49, 59);
	border-right: 1px solid rgb(211, 215, 222);
	display: none;
	overflow: auto;
	transition: all 0.3s ease-out;
}

.left-menu .tab {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: rgb(226, 228, 233);
	border-bottom: 1px solid rgb(211, 215, 222);
	font-size: 30px;
}

.left-menu .menu-item {
	padding: 10px;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid rgb(211, 215, 222);
}

.left-menu .menu-item:hover {
	background: rgb(229, 238, 255);
	border-bottom: 1px solid rgb(203, 212, 231);
}

/**********************************
*         Page Content            *
* Goes between .header and footer *
**********************************/

.content {
	position: relative;
	/* below the .header element */
	top: 4%;
	/* auto changing left by js */
	left: 0;
	/* auto changing width by js */
	width: 100%;
	/* top offset for scroll */
	padding-bottom: 8%;
	transition: all 0.3s ease-out;
}

.content .main {
	padding: 0 10px;
}

/***************
* Page Footer  *
***************/

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 4%;
	line-height: 300%;
	padding: 0 10px;
	border-top: 1px solid rgb(200, 200, 200);
	background: rgb(255, 255, 255);
}
